.createAccountBoxOuter {
    position: fixed;
    height: 545px;
    width: 790px;
    background-color: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    box-sizing: border-box;
}

.createAccountBoxInner {
    position: fixed;
    height: 461px;
    width: 700px;
    background-color: white;
    outline: 2px black outset;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    padding-left: 36px;
    padding-right: 51px;
    box-sizing: border-box;
}

.closeBtn2 {
    position: absolute;
    height: 14.3px;
    width: 14.3px;
    left: 760px;
    top: 13px;
    cursor: pointer
}

.signUpFormGreyedArea {
    position: fixed;
    background-color: rgba(128,128,128,0.4);
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUpFormHeader {
    position: absolute;
    top: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
