@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.createAccountBoxOuter {
    position: fixed;
    height: 545px;
    width: 790px;
    background-color: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    box-sizing: border-box;
}


.createAccountBoxInner {
    position: fixed;
    height: 461px;
    width: 700px;
    background-color: white;
    outline: 2px black outset;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    padding-right: 36px;
    padding-left: 51px;
    box-sizing: border-box;
}

.closeBtn2 {
    position: absolute;
    height: 14.3px;
    width: 14.3px;
    left: 760px;
    top: 13px;
    cursor: pointer
}

.signUpFormGreyedArea {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.4);
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUpFormHeader {
    position: absolute;
    top: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* outline: 1px black outset; */
    height: 44px;
}

.createAccount {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    top: 244px;
    text-align: left
}

.createAccount label {
    position: relative;
    display: inline-block;
    top: -140px;
    /* outline: 1px black outset; */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.createAccount input {
    position: relative;
    top: -140px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 365px;
    font-size: 21px;
    border: none;
    outline: 1px black outset;
}

#emailRegistraition {
    left: 22%
}

#confirmEmail {
    left: 9.8%
}

#passwordRegistration {
    left: 28.4%
}

#confirmPassword {
    left: 5.5%
}

#passwordLabel {
    top: -149px
}

#passwordGuide {
    position: relative;
    top: -225px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: left;

}

.createAccount button {
    position: absolute;
    top:120px;
    left: 392px;
    width: 228px;
    height: 67px;
    background-color: #d90c1e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;

}