@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



.footerContainer {
    position: absolute;
    display: flex;
    top: 211.21vw;
    z-index: 1;
    background-color: black;
    width: 100vw;
    height: 19.36vw;
    color: white;
    /* outline: 2px red outset; */
    text-align: center;
}

.footerLogo {
    margin-top: 2.69vw;
    margin-left: 6.41vw;
    width: 16.41vw;
    height: 5.60vw;
    /* outline: 2px red outset; */
}

.footerTextColumn1 {
    position: absolute;
    margin-top: 2.69vw;
    margin-left: 28.98vw;
    font-family: 'Inter', sans-serif;
    /* outline: 2px red outset; */
    font-weight: 600;
    font-size: 1.09vw;
    text-align: left;
}

.footerTextColumn2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    margin-top: 2.69vw;
    margin-left: 53.44vw;
    font-family: 'Inter', sans-serif;
    /* outline: 2px red outset; */
    font-weight: 600;
    font-size: 1.09vw;
    text-align: left;
    cursor: pointer;
}

.footerTextColumn3 {
    position: absolute;
    margin-top: 2.69vw;
    margin-left: 73.05vw;
    font-family: 'Inter', sans-serif;
    /* outline: 2px red outset; */
    font-weight: 600;
    font-size: 1.09vw;
    text-align: left;
    cursor: pointer;
}

.socialMediaIcons {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 15.79vw;
    height: 3.19vw;
    gap: 1.09vw;
    color: white;
    /* outline: 2px red outset; */
    margin-left: 73.38vw;
    margin-top: 8.76vw;
}

#copyrightText {
    position: absolute;
    width: 100vw;
    bottom: 2.30vw;
    font-family: 'Inter', sans-serif;
    /* outline: 2px red outset; */
    font-weight: 600;
    font-size: 1.09vw;
    text-align: center;
}

.logout {
    position: absolute;
    top: 10.71vw;
    left: 6.33vw;
    background-color: #D90C1E;
    height: 3.36vw;
    width: 7.14vw;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
}